# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sln
.vs/
*.filters
*.vcxproj
*.user
x64/
Project/x64/

#Dataset
Data/
Dataset/
testset/
old_results

#model
model/


#Python
.ipynb_checkpoints/
__pycache__


#Models
*.yml
*.h5
*.pb
*.pbtx

#Other stuff
detections/
ious/
pixelaccuracy/
segmentations/
bwmask/